body{
   
    background-position: center;
    background-size: cover;

    height: 43vh;
    display: flex;
    backdrop-filter: blur(3px);
    margin-top: 25px;
    font-family: cursive;

}

.topbar{
    margin-left: 70px;
    width: 1220px;
    height: 70px;
    background-color : #E74646;
    margin-top:30px;
    background: radial-gradient( rgba(255,255,255,0.6)); 
    box-shadow: 0 0 10px  rgba(0,0,0,0.3);
    border-radius: 15px;
    backdrop-filter: blur(2px);
}
nav{
    display: flex;
    padding: 12px 5%;
}

.logo{
    margin-top: 5px;
    color: #fff;
    font-size: 35px;
    float: left;
    cursor: pointer;
    font-family: cursive;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.2s ease;
    
}

nav ul li a:hover{
    color: #000;
}

.bars{
    list-style: none;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-left: 60px;
    margin-right: -20px;
}

.main{
    display: flex;
    margin: 20px;
}

.content{
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 500px;
    background-color : #E74646;
    background: radial-gradient( rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding-left: 25;
    margin-left: 1070px;
    border-radius: 20px;
}


.icons{
    margin-left: 77px;
    margin-top: -518px;
    background-image: url(/images/m.jpg);
    background-repeat:repeat-y;
    color:#000;
    width: 980px;
    height: 500px;
    background: radial-gradient( rgba(255,255,255,0.6));
    box-shadow: 0 0 10px  rgba(0,0,0,0.3);
    border-radius: 20px;
    
}

button{
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-left: 550px;
    padding: 9px 20px;
    color: #fff;
    background-color: #e75050;
    font-family: cursive;
    border: 0;
    outline: 0;
    border-radius: 30px;
    
    
    
    }
    button:hover{
    background-color:#f5a9a9;
    }
    input{
       
        background-color:#fdfdfd;
         border-radius: 4px;
         box-shadow: 0 0 3px  rgba(28, 26, 26, 0.911);
         border-color: #f3efef;
        
       
         
        }
        .social-icons ul li{
            list-style: none;
            margin-top: -160px;
            margin-left: 50px;
        }
        
        .social-icons ul a {
            text-decoration: none;
            margin-top: 30px;
            margin-left: 6px;
            font-size: 25px;
            color: #e75050;
            cursor: pointer;
            padding: 4px 4px;
            transition: 0.9999s ease;
            border-radius: 8px;
        }
        
        .social-icons ul li a:hover{
            background-color: rgb(255, 251, 0);
            color: #000;
        }
  
    