
body{
 
    background-color : #fff;
     height: 43vh;
     display: flex;
     margin-top: 8px;
     font-family: cursive;
    
    
    }
    
    .topbar{
    
    background-image: url(/images/w.jpg);
    border-color: #0a0a0a;
    background-position: center;
    background-size: cover; 
    margin-left: 200px;
    width: 990px;
    height: 550px;
    background: radial-gradient( rgba(255,255,255,0.6)); 
    box-shadow: 0 0 3px  rgba(1, 1, 1, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    
    }
     a{
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-left: 90px;
    padding: 6px 6px;
    color: #000;
    background-color: #ecdede;
    font-family: cursive;
    border: 0;
    outline: 0;
    border-radius: 10px;
    
    
    
    }
    a:hover{
    background-color:#f5a9a9;
    }
  
        button{
            cursor: pointer;
            text-decoration: none;
            font-size: 18px;
            margin-left: 0px;
            padding: 9px 20px;
            color: #fff;
            background-color: #e75050;
            font-family: cursive;
            border: 0;
            outline: 0;
            border-radius: 10px;
            
            
            
            }
            button:hover{
            background-color:#f5a9a9;
            }
            input{
                width:270px;
                height:20px;
                background-color:#fdfdfd;
                 border-radius: 4px;
                 box-shadow: 0 0 3px  rgba(0,0,0,0.6);
                 border-color: #f3efef;
                 margin-left: 480px;
                 
                 margin-top: -20;
               
                 
                }
          select{width:280px;
            height:28px;
            background-color:#fdfdfd;
            border-color: #fff;
             border-radius: 4px;
             border-color: #fff, #fff,#fff,#fff;
             box-shadow: 0 0 3px  rgba(0,0,0,0.6);
             font-size: 18px;
             margin-left: 480px;
            margin-top: -20;
           display: inline;
             
            } 
            form{
                padding-right:13px;
                 margin-right:10 px;
                  font-size: 29px;
                text-decoration:right;
                   text-align: right;
                   font-family: cursive;
                
                
            }
            form h4{
                padding-right: 10px;
                 margin-right: 15px;
                font-size: 32px;
                text-decoration:right;
                text-align: right;
               
            }
           